* {
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -ms-box-sizing:border-box;
    box-sizing:border-box;
}

.pixel {
    width: 100px;
    height: 100px;
    color: transparent;
    padding: 5px;
}

.pixel:hover {
    border: 2px solid #8d8d8d;
    color: black;
}

.edge {
    width: 60px;
    height: 60px;
    text-align: center;
    vertical-align: middle;
}

.dot {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    display: inline-block;
    line-height: 60px;
    text-align: center;
    font-size: 40px;
    color: #a9a9a9;
}

.edge:hover .dot {
    background-color: #bbb;
    color: #fff;
}

.splitviewcontainer {
    display: flex;
}
.splitviewcolumn {
    padding: 5px;
}
.splitviewcolumnright {
    flex-grow: 1;
    border-left: 2px solid #ccc;
}
