:root {
    --loda-grid: #bdbdbd;
    --image-pixel-border: #555;
}
html {
    height: 100%;
    font-family: system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif,Segoe UI Emoji,Segoe UI Symbol;
    font-size: 1.2rem;
    font-weight: 400;
    background-color: #F9F3F2;
    color: rgb(36, 41, 46);
}
body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}
#overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    background-color: rgba(171, 171, 171, 0.81);
}
#overlay-message {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 50px;
    color: rgb(0, 0, 0);
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
}
#page-footer {
    border-top: 1px solid var(--loda-grid);
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
}
  
.top-banner-container-outer {
    color: #eedede;
    background-color: #9b3219;
    font-size: 30px;
    padding: 20px;
    display: none;
}
.top-banner-container-inner {
    display: flex;
    align-items: center;
}
.top-banner-item-center {
    flex: 1;
    padding-left: 20px;
    padding-right: 20px;
}
.top-banner-item-left,
.top-banner-item-right {
    flex: none;
    font-size: 60px;
}
.titlebar-container {
    display: flex;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid var(--loda-grid);
    align-items: center;
}
.titlebar-item {
    flex: 1;
}
.titlebar-item-left {
    text-align: left;
}
.titlebar-item-center {
    text-align: center;
    font-size: 22px;
    font-weight: 500;
    color: #4d4b4b;
}
.titlebar-item-right {
    text-align: right;
}
.primary-button {
    border: none;
    color: rgb(77, 73, 73);
    background-color: #f7eb42;
    border: 1px solid rgb(54, 54, 54);
    padding: 10px 18px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 5px;
}
.primary-button:hover {
    background-color: #e9dc28;
    border: 1px solid rgb(100, 100, 100);
}
.primary-button:active {
    background-color: #cfc422;
    border: 1px solid rgb(34, 34, 34);
}
.primary-button:disabled {
    border: 1px solid #999;
    background-color: #ccc;
    color: #666;
}
.seconday-button {
    border: none;
    color: rgb(77, 73, 73);
    border: 1px solid rgb(54, 54, 54);
    padding: 10px 18px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 5px;
}
.seconday-button:hover {
    background-color: #fffef5;
    border: 1px solid rgb(100, 100, 100);
}
.seconday-button:active {
    background-color: #eaeaea;
    border: 1px solid rgb(34, 34, 34);
}
#output-interactive-ui {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border-bottom: 1px solid var(--loda-grid);
}
#graph-scaling,
#output-count {
    display: flex;
}
#output-interactive-ui .selected,
#output-interactive-ui .not-selected {
    font-weight: normal;
    border: none;
    color: rgb(77, 73, 73);
    background-color: transparent;
    padding: 10px 18px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 0;
}
#output-interactive-ui .selected {
    text-decoration: underline;
}
#output-interactive-ui .not-selected:hover {
    background-color: #e8e8e8;
}
#output-interactive-ui .not-selected:active {
    background-color: #d3d3d3;
}
#output-interactive-ui #graph-scaling button {
    border-right: 1px solid var(--loda-grid);
}
#output-interactive-ui #output-count button {
    border-left: 1px solid var(--loda-grid);
}
.page-footer-item {
    flex: 1;
}
#page-footer-item1 {
    text-align: center;
}
.copy-program-link-to-clipboard-tooltip-area {
    position: relative;
    display: inline-block;
}
.copy-program-link-to-clipboard-tooltip-area .tooltiptext {
    visibility: hidden;
    width: 140px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 4;
    bottom: 150%;
    left: 50%;
    margin-left: -75px;
    opacity: 0;
    transition: opacity 0.3s;
}
.copy-program-link-to-clipboard-tooltip-area .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}
.copy-program-link-to-clipboard-tooltip-area:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

#main-outer {
    flex: 1 1 auto;
    position: relative;
    min-height: 0;
}

#main-inner {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-left: 1px solid var(--loda-grid);
    box-sizing: border-box;
    overflow-y: scroll;
}

#output-rows {
    display: grid;
    grid-template-columns: minmax(auto, max-content) minmax(25%, auto);
}

.output-row-col0,
.output-row-col1 {
    border-bottom: 1px solid #ccc;
}

.output-row-col0 {
    padding-top: 0.25em;
    padding-left: 0.5em;
    padding-right: 1em;
    color: #ccc;
    font-size: small;
}

.error-message.output-row-col0,
.error-message.output-row-col1 {
    background-color: rgb(252, 148, 148);
}

.error-message.output-row-col0 {
    color: rgb(129, 129, 129);
}

#output-bottom-row {
    padding-top: 0.25em;
    padding-left: 0.5em;
    padding-bottom: 0.25em;
    color: #ccc;
    font-size: small;
}

#arc-output1 {
    font-family: monospace;
    white-space: pre;
}
  
.arc-output-container {
    display: grid;
    grid-template-columns: minmax(auto, max-content) minmax(25%, auto);

}
.arc-output-container .col0, 
.arc-output-container .col1 {
    padding: 8px;
    border-top: 1px solid #ccc;
    font-family: monospace;
  white-space: pre;
}

.arc-output-container .col1 {
    border-left: 1px solid #ccc;
}

.arc-output-container .text01 {
    padding: 8px;
    border-top: 1px solid #ccc;
}

.cell-group {
    overflow: auto;
}

.cell-br {
    clear: both; 
    float: left; 
    display: block; 
    position: relative;
}

.compare {
    display: flex;
    column-gap: 20px;
}

.compare-item0 {

}

.compare-item1 {

}

.themearc.model.row {
    display: flex;
    column-gap: 20px;
}

.themearc.image {
}

.themearc.image.rows-container {
}

.themearc.image.rows {
    border-right: 1px solid var(--image-pixel-border);
    border-bottom: 1px solid var(--image-pixel-border);
    display: inline-block;
}

.themearc.image.row {
    display: flex;
}

.themearc.image.row span {
    width: 15px;
    height: 15px;
    border-left: 1px solid var(--image-pixel-border);
    border-top: 1px solid var(--image-pixel-border);
    overflow: hidden;
}

.themearc.symbol_0 {
    background-color: #000;
}
.themearc.symbol_1 {
    background-color: #0074D9; /* blue */
}
.themearc.symbol_2 {
    background-color: #FF4136; /* red */
}
.themearc.symbol_3 {
    background-color: #2ECC40; /* green */
}
.themearc.symbol_4 {
    background-color: #FFDC00; /* yellow */
}
.themearc.symbol_5 {
    background-color: #AAAAAA; /* grey */
}
.themearc.symbol_6 {
    background-color: #F012BE; /* fuschia */
}
.themearc.symbol_7 {
    background-color: #FF851B; /* orange */
}
.themearc.symbol_8 {
    background-color: #7FDBFF; /* teal */
}
.themearc.symbol_9 {
    background-color: #870C25; /* brown */
}

.themearc.symbol_0,
.themearc.symbol_1,
.themearc.symbol_2,
.themearc.symbol_3,
.themearc.symbol_4,
.themearc.symbol_5,
.themearc.symbol_6,
.themearc.symbol_7,
.themearc.symbol_8,
.themearc.symbol_9 {
    color: transparent !important;
}

.arc_work_model_task {
    border-collapse: collapse;
}

.arc_work_model_task tr:hover {
    background-color: white;
}

col.arc_column_analysis {
    background-color: #eae8e6;
    border-left: 1px solid #c8bdbd;
}

td.arc_column_analysis {
    padding-left: 0.5em; 
}

ul.without_bullets {
    list-style-type: none;
    padding-left: 0;
    margin-right: 0.5em;
}
