<div 
{% if infoid %}
id="{{infoid}}"
{% endif %}
{% if is_center_pixel %}
class="visiblebydefault"
{% else %}
style="display: none;"
{% endif %}
>
    <h1>Pixel</h1>
    <ul>
        <li>color: {{ color }}</li>
        <li>x: {{ x }}</li>
        <li>y: {{ y }}</li>
    </ul>

    {% if outgoing_edges %}
    <h1>Outgoing edges</h1>
    <ul>
        {% for item in outgoing_edges %}
            <li>{{ item.edge_index }} - {{ item.edge_name }} - <a href="{{ item.node_href }}">{{ item.node_index }} - {{ item.node_name }}</a></li>
        {% endfor %}
    </ul>
    {% else %}
    <h1>Outgoing edges - none</h1>
    {% endif %}
</div>
