<table>
<tr>{{pixel_topleft|safe}}<td><!-- edge between top-left and top --></td>{{pixel_top|safe}}<td><!-- edge between top and top-right --></td>{{pixel_topright|safe}}</tr>
<tr><td><!-- edge between left and top-left --></td>{{edge_center_topleft|safe}}{{edge_center_top|safe}}{{edge_center_topright|safe}}<td><!-- edge between right and top-right --></td></tr>
<tr>{{pixel_left|safe}}{{edge_left_center|safe}}{{pixel_center|safe}}{{edge_center_right|safe}}{{pixel_right|safe}}</tr>
<tr><td><!-- edge between left and bottom-left --></td>{{edge_center_bottomleft|safe}}{{edge_center_bottom|safe}}{{edge_center_bottomright|safe}}<td><!-- edge between right and bottom-right --></td></tr>
<tr>{{pixel_bottomleft|safe}}<td><!-- edge between bottom-left and bottom --></td>{{pixel_bottom|safe}}<td><!-- edge between bottom and bottom-right --></td>{{pixel_bottomright|safe}}</tr>
</table>
