<table class="inspect_pixel">
<tr>{{pixel_upleft|safe}}<td><!-- edge between up-left and up --></td>{{pixel_up|safe}}<td><!-- edge between up and up-right --></td>{{pixel_upright|safe}}</tr>
<tr><td><!-- edge between left and up-left --></td>{{edge_center_upleft|safe}}{{edge_center_up|safe}}{{edge_center_upright|safe}}<td><!-- edge between right and up-right --></td></tr>
<tr>{{pixel_left|safe}}{{edge_left_center|safe}}{{pixel_center|safe}}{{edge_center_right|safe}}{{pixel_right|safe}}</tr>
<tr><td><!-- edge between left and down-left --></td>{{edge_center_downleft|safe}}{{edge_center_down|safe}}{{edge_center_downright|safe}}<td><!-- edge between right and down-right --></td></tr>
<tr>{{pixel_downleft|safe}}<td><!-- edge between down-left and down --></td>{{pixel_down|safe}}<td><!-- edge between down and down-right --></td>{{pixel_downright|safe}}</tr>
</table>
