<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="robots" content="noindex">
    <title>Developer</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="format-detection" content="telephone=no">
    <link media="all" rel="stylesheet" type="text/css" href="/static/arc_color.css">
    <link media="all" rel="stylesheet" type="text/css" href="/static/inspect_pixel.css">
    <script>
        function hoverPixel(x) {
          const el = document.getElementById("info-panel");
          el.innerText = "pixel";
        }
        
        function normalPixel(x) {
          const el = document.getElementById("info-panel");
          el.innerText = "edge";
        }
    </script>
</head>

<body>