:root {
    --loda-grid: #bdbdbd;
}
html {
    height: 100%;
    font-family: system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif,Segoe UI Emoji,Segoe UI Symbol;
    font-size: 1.2rem;
    font-weight: 400;
    background-color: #F9F3F2;
    color: rgb(36, 41, 46);
}
body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}
#overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    background-color: rgba(171, 171, 171, 0.81);
}
#overlay-message {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 50px;
    color: rgb(0, 0, 0);
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
}
#splitview-outer {
    flex: 1 1 auto;
    position: relative;
    min-height: 0;
}
#splitview-inner {
}
#editor-outer {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 50%;
}
#editor-inner {
}
#output-outer {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    width: 50%;
    right: 0;
    border-left: 1px solid var(--loda-grid);
    box-sizing: border-box;
    overflow-y: scroll;
}
#output-inner {
    margin: 10px;
    padding: 5px;
    background-color: white;
    overflow-wrap: break-word;
    word-wrap: break-word;
    font-family: monospace;
}
#output-inner .error {
    color: red;
}
#output-inner .term {
    color: black;
}
#output-inner .separator {
    color: #bbb;
}
#page-footer {
    border-top: 1px solid var(--loda-grid);
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
}
  
.CodeMirror { height: 100%; }
.CodeMirror .cm-header { font-family: arial; }
.CodeMirror .cm-header-1 { font-size: 150%; }
.CodeMirror .cm-header-2 { font-size: 130%; }
.CodeMirror .cm-header-3 { font-size: 120%; }
.CodeMirror .cm-header-4 { font-size: 110%; }
.CodeMirror .cm-header-5 { font-size: 100%; }
.CodeMirror .cm-header-6 { font-size: 90%; }
.CodeMirror .cm-strong { font-size: 140%; }
.CodeMirror .cm-trailingspace {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAACCAYAAAB/qH1jAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3QUXCToH00Y1UgAAACFJREFUCNdjPMDBUc/AwNDAAAFMTAwMDA0OP34wQgX/AQBYgwYEx4f9lQAAAABJRU5ErkJggg==);
    background-position: bottom left;
    background-repeat: repeat-x;
}
.CodeMirror pre.CodeMirror-placeholder { color: #999; }
  
.top-banner-container-outer {
    color: #eedede;
    background-color: #9b3219;
    font-size: 30px;
    padding: 20px;
    display: none;
}
.top-banner-container-inner {
    display: flex;
    align-items: center;
}
.top-banner-item-center {
    flex: 1;
    padding-left: 20px;
    padding-right: 20px;
}
.top-banner-item-left,
.top-banner-item-right {
    flex: none;
    font-size: 60px;
}
.titlebar-container {
    display: flex;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid var(--loda-grid);
    align-items: center;
}
.titlebar-item {
    flex: 1;
}
.titlebar-item-left {
    text-align: left;
}
.titlebar-item-center {
    text-align: center;
    font-size: 22px;
    font-weight: 500;
    color: #4d4b4b;
}
.titlebar-item-right {
    text-align: right;
}
.primary-button {
    border: none;
    color: rgb(77, 73, 73);
    background-color: #f7eb42;
    border: 1px solid rgb(54, 54, 54);
    padding: 10px 18px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 5px;
}
.primary-button:hover {
    background-color: #e9dc28;
    border: 1px solid rgb(100, 100, 100);
}
.primary-button:active {
    background-color: #cfc422;
    border: 1px solid rgb(34, 34, 34);
}
.primary-button:disabled {
    border: 1px solid #999;
    background-color: #ccc;
    color: #666;
}
.seconday-button {
    border: none;
    color: rgb(77, 73, 73);
    border: 1px solid rgb(54, 54, 54);
    padding: 10px 18px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 5px;
}
.seconday-button:hover {
    background-color: #fffef5;
    border: 1px solid rgb(100, 100, 100);
}
.seconday-button:active {
    background-color: #eaeaea;
    border: 1px solid rgb(34, 34, 34);
}
#output-interactive-ui {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border-bottom: 1px solid var(--loda-grid);
}
#graph-scaling,
#output-count {
    display: flex;
}
#output-interactive-ui .selected {
    font-weight: normal;
    border: none;
    color: rgb(77, 73, 73);
    background-color: transparent;
    padding: 10px 18px;
    text-align: center;
    text-decoration: underline;
    font-size: 16px;
    margin: 0;
}
#output-interactive-ui .not-selected {
    font-weight: normal;
    border: none;
    color: rgb(77, 73, 73);
    background-color: transparent;
    padding: 10px 18px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 0;
}
#output-interactive-ui .not-selected:hover {
    background-color: #e8e8e8;
}
#output-interactive-ui .not-selected:active {
    background-color: #d3d3d3;
}
#output-interactive-ui #graph-scaling button {
    border-right: 1px solid var(--loda-grid);
}
#output-interactive-ui #output-count button {
    border-left: 1px solid var(--loda-grid);
}
.page-footer-item {
    flex: 1;
}
#page-footer-item0 {
    text-align: center;
}
.copy-program-link-to-clipboard-tooltip-area {
    position: relative;
    display: inline-block;
}
.copy-program-link-to-clipboard-tooltip-area .tooltiptext {
    visibility: hidden;
    width: 140px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 4;
    bottom: 150%;
    left: 50%;
    margin-left: -75px;
    opacity: 0;
    transition: opacity 0.3s;
}
.copy-program-link-to-clipboard-tooltip-area .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}
.copy-program-link-to-clipboard-tooltip-area:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}
  