# Configuration for LODA Rust

# Who to be credited when discovering new programs.
loda_submitted_by = "John Doe"

# Absolute path to the "loda-programs" repository dir.
loda_programs_repository = "$HOME/loda/programs"

# Absolute path to the "loda-cpp" executable file.
loda_cpp_executable = "$HOME/loda/bin/loda"

# Absolute path to the "loda-rust" repository dir.
loda_rust_repository = "$HOME/git/loda-rust"

# Absolute path to the "loda-rust" executable file.
loda_rust_executable = "$HOME/git/loda-rust/rust_project/target/release/loda-rust"

# Absolute path to the unzipped OEIS stripped file.
oeis_stripped_file = "$HOME/loda/oeis/stripped"

# Absolute path to the unzipped OEIS names file.
oeis_names_file = "$HOME/loda/oeis/names"

# When mining with metrics enabled, this is the port that the metrics can be accessed.
miner_metrics_listen_port = 8090

# Patterns that are frequently used in loda programs.
loda_patterns_repository = "$HOME/git/loda-patterns"

# Absolute path to the "loda-outlier-programs" repository dir.
loda_outlier_programs_repository = "$HOME/git/loda-outlier-programs"

# When a program has been mined, then upload it to the loda-programs repository.
miner_program_upload_endpoint = "http://api.loda-lang.org/miner/v1/programs"

# --- MINER FILTER MODE ---

# Search only for "new" programs. Don't waste time mining for "existing" programs.
[miner_filter_mode]
type = "new"

# Search for both "new" programs and "existing" programs.
# [miner_filter_mode]
# type = "all"

# --- MINER CPU STRATEGY ---

# Make use of all the cpu's.
[miner_cpu_strategy]
type = "max"

# Only use half of available the cpu's.
# [miner_cpu_strategy]
# type = "half"

# Only use 1 core. Useful for debugging. 
# [miner_cpu_strategy]
# type = "min"

# Use specified number of core. 
# Useful if auto-detect of number of cpus doesn't work.
# [miner_cpu_strategy]
# type = "cpu"
# [miner_cpu_strategy.content]
# count = 8
